<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.businessnhmagazine.com/UploadedFiles/Articles/8151/66581491_m.jpg);">
  <div class="container">
    <h1>Haunted BnB</h1>
    <p>Change your life and find a place to experience the real fear</p>
  </div>
</div>


