<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.businessnhmagazine.com/UploadedFiles/Articles/8151/66581491_m.jpg);">
  <div class="container">
    <h1>HAUNTED BNB</h1>
    <p>Vous aurez peur...</p>
  </div>
</div>


