.footer {
  background: #00000024;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: #9E1818;
  bottom: 0;
  width: 100%;
  margin-top: 25px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #9E1818;
  //opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 4;
  color: #F4F4F4;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
